In [2]:
import json
import pandas as pd
from shapely.geometry import Point, Polygon

In [5]:
def neighborhood_name_adder(data, geo_data, column_longitude, column_latitude, new_column_name):
    from matplotlib import path
    import numpy as np
    
    
    
    
    lat = data[column_latitude]
    lon = data[column_longitude]
    
    data[new_column_name] = np.zeros(len(data))
    
    for feature in geo_data['features']:
        coords = feature['geometry']['coordinates'][0]
        p = path.Path(coords)
        index = p.contains_points(zip(lon, lat))
        data[new_column_name].loc[index] = [str(feature['properties']['neighborhood'])]*np.sum(index)

    
    return(data)

In [6]:
def api_reader(url, geo_path, rows, filename, year):
    
    #This section gets json data
    with open(geo_path) as f:
        geo_data = json.load(f)

    #This section gets taxi api data. Paramater "rows" indicates how many rows of data to get
    url_rows = '?$limit=%s' %rows
    
    url_final = url + url_rows 
    data = pd.read_json(url_final)
    
    #This section adds on the names for the pickup and dropoff neighborhoods
    data_updated = neighborhood_name_adder(data        , geo_data, 'pickup_longitude' , 'pickup_latitude' , 'pickup_neighborhood' )
    data_final   = neighborhood_name_adder(data_updated, geo_data, 'dropoff_longitude', 'dropoff_latitude', 'dropoff_neighborhood')
    
        
    #This section saves it to a csv file
    data_final.to_csv(filename)

In [7]:
geo_path = 'NY_neighborhoods.geojson'
rows = 10

url_2011 = 'https://data.cityofnewyork.us/resource/uwyp-dntv.json'
#url_2012 = 'https://data.cityofnewyork.us/resource/kerk-3eby.json'
#url_2013 = 'https://data.cityofnewyork.us/resource/t7ny-aygi.json'
#url_2014 = 'https://data.cityofnewyork.us/resource/gkne-dk5s.json'
#url_2015 = 'https://data.cityofnewyork.us/resource/2yzn-sicd.json'


api_reader(url_2011, geo_path, rows, 'tt.csv', 2011)

/Users/am2786/miniconda/lib/python2.7/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [8]:
import pandas as pd

p = pd.read_csv('tt.csv')

In [9]:
p

,Unnamed: 0,dropoff_datetime,dropoff_latitude,dropoff_location,dropoff_longitude,extra,fare_amount,mta_tax,passenger_count,payment_type,...,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_pickup_datetime,trip_distance,vendorid,pickup_neighborhood,dropoff_neighborhood
0,0,2011-08-06T07:46:28.000,40.750364,"{u'type': u'Point', u'coordinates': [-73.99116...",-73.991160,0.0,5.7,0.5,2,CRD,...,1,N,1.00,0,7.20,2011-08-06T07:40:22.000,0.90,CMT,Midtown,Chelsea
1,1,2011-11-13T03:08:00.000,40.784717,"{u'type': u'Point', u'coordinates': [-73.94937...",-73.949372,0.5,12.1,0.5,4,CRD,...,1,NaN,4.00,0,17.10,2011-11-13T02:54:00.000,4.37,VTS,Gramercy,Upper East Side
2,2,2011-03-29T19:53:00.000,40.757882,"{u'type': u'Point', u'coordinates': [-73.99296...",-73.992960,1.0,4.9,0.5,1,CRD,...,1,NaN,2.00,0,8.40,2011-03-29T19:48:00.000,1.03,VTS,Hell's Kitchen,Hell's Kitchen
3,3,2011-05-10T17:07:55.000,40.761233,"{u'type': u'Point', u'coordinates': [-73.96960...",-73.969603,1.0,26.1,0.5,1,CSH,...,1,N,0.00,0,27.60,2011-05-10T16:34:04.000,9.30,CMT,LaGuardia Airport,Midtown
4,4,2011-06-27T10:50:24.000,40.753343,"{u'type': u'Point', u'coordinates': [-73.82594...",-73.825943,0.0,6.9,0.5,1,CSH,...,1,N,0.00,0,7.40,2011-06-27T10:39:58.000,0.60,CMT,Flushing,Flushing
5,5,2011-09-24T04:23:48.000,40.786288,"{u'type': u'Point', u'coordinates': [-73.95412...",-73.954126,0.5,5.3,0.5,1,CRD,...,1,N,1.50,0,7.80,2011-09-24T04:20:03.000,1.40,CMT,Upper East Side,Upper East Side
6,6,2011-01-28T23:19:00.000,40.725125,"{u'type': u'Point', u'coordinates': [-73.99219...",-73.992195,0.5,16.1,0.5,1,CRD,...,1,NaN,3.32,0,20.42,2011-01-28T23:04:00.000,6.20,VTS,Upper East Side,East Village
7,7,2011-05-14T09:32:23.000,40.748790,"{u'type': u'Point', u'coordinates': [-74.00824...",-74.008243,0.0,9.7,0.5,1,CRD,...,1,N,1.00,0,11.20,2011-05-14T09:17:54.000,2.30,CMT,Gramercy,Chelsea
8,8,2011-10-18T17:23:38.000,40.751329,"{u'type': u'Point', u'coordinates': [-73.99133...",-73.991339,1.0,7.7,0.5,1,CRD,...,1,N,2.00,0,11.20,2011-10-18T17:11:31.000,1.40,CMT,Murray Hill,Midtown
9,9,2011-08-07T11:38:34.000,40.764200,"{u'type': u'Point', u'coordinates': [-73.9558,...",-73.955800,0.0,8.1,0.5,0,CSH,...,1,N,0.00,0,8.60,2011-08-07T11:28:16.000,1.80,CMT,Upper West Side,Upper East Side